@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');
.icons {
    display: flex;
    justify-content: center;
    gap: 152px;
    margin-top: 37px;
    font-size: 200px;
    text-shadow: 13px 20px 20px #996a20;
}
.icons i {
    color: #000000;
    transform: scale(1.5);
}